@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './theme.css';

/* Hide delete button by default */
.item-container .hide-button {
  display: none;
}

/* Show delete button when task is hovered over */
.item-container:hover .hide-button {
  display: inline;
}

.item-container {
  transition: all 0.3s ease;
  /* Smooth transition for all properties */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add a soft shadow */
  border-radius: 3px;
  /* Rounded corners */
  padding-left: 12px;
}

@keyframes highlight {
  0% {
    background-color: #a4c6e465;
    /* Starting color */
    transform: scale(1.02);
    /* Slightly enlarging the task */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Increase shadow */
  }

  100% {
    background-color: transparent;
    /* Final state */
    transform: scale(1);
    /* Return to normal size */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Return to normal shadow */
  }
}

.highlight-task {
  animation: highlight 1s ease-out;
  /* 1-second animation */
}

.selected-item {
  background-color: #34498693;
}

.slide-in {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.slide-in.open {
  max-height: 4rem; /* Match the height of the input */
}

/* Add this to your CSS file */
.completed-task-container {
  display: flex;
  align-items: center;
  position: relative;
}

/* In your CSS file */
.completed-task-container:hover .uncomplete-checkbox {
  opacity: 1;
}

.uncomplete-checkbox {
  opacity: 0;
  transition: opacity 0.3s;
}
